body{
    width: 800px;
    background-color: #DBDBDB;
    margin: 0 auto;
}
nav a{
    color: #213448;
    display:inline-block;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin: 0 3rem;
    padding:9px;
    box-shadow:10px 7px 10px  ;
    border-radius: 20px;
   
   
}

nav a:hover{
    color:#547792;
    transform: scaleX(0.75);
}
header h1{
    align-items: center;
    color: #213448;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px #547792 ;
  
}
header p{
    color: #213448;
    margin-bottom: 10px;
    font-display: sans-serif;
    
}
footer p{
    color: #547792;
    background-color: #213448;
    padding: 20px;
    text-align: center;
}
header img{
    padding: 15px;
    filter:drop-shadow(10px 7px 10px #547792)
}
article h2{
    align-items: center;
    color: #213448;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px #547792 ;
}
article p{
    color: #213448;
    margin-bottom: 10px;
    font-display: sans-serif;
}  
div th{
    color: #213448;
    text-shadow: 1px 1px 3px #213448 ;
}
div ul{
    color: #213448;
}

form [type="email"] {
    font-family: "Lora", serif;
            border-radius: 5px;
            margin: 4px 2px;
            text-align: center;
             font-size: 16px;
             border: 2px solid #213448;
                padding: 10px 20px;
                text-decoration: none;
                text-shadow: 1px 1px 3px ;
                background-color: #DBDBDB;
               
                
}
form textarea{
         font-family: "Lora", serif;
            border-radius: 5px;
            margin: 4px 2px;
            font-size: 16px;
            border: 2px solid #213448;
            color: #213448;
            background-color: #DBDBDB;
            
           
}
form label{
    text-shadow: 1px 1px 3px ;
    color: #213448;
    margin: 10px;
    padding: 2px;
    border: none;
    text-align: center;
     font-size: 17px;
}
div h1{
    text-shadow: 1px 1px 3px #547792 ;
}
article h1{
    text-shadow: 1px 1px 3px #547792 ;
}
::placeholder{
    color: #213448;
    text-shadow: 1px 1px 3px ;
   
}
form [type="submit"]{
    font-family: "Lora", serif;
    border-radius: 5px;
    margin: 4px 2px;
    text-align: center;
     font-size: 16px;
     background-color: #213448; 
     color: #DBDBDB;
     border: none;
        padding: 10px 20px;
        text-decoration: none;
        cursor: pointer;
        text-shadow: 1px 1px 3px ;
}

